.navstyler {
    background-color: rgb(103, 113, 122);
    padding-left: 2em;

    box-shadow: inset 0 -3px 6px rgb(31, 42, 65);
}

.navstyler a {
    color: rgb(225, 239, 255);
}

.navstyler a:hover {
    background-color: rgb(95, 140, 179);
    box-shadow: inset 0 -3px 6px rgb(22, 55, 126);
}

.navstyler a:focus {
    background-color: rgb(104, 133, 158);
    box-shadow: inset 0 -3px 3px rgb(31, 42, 65);
}