<nav class="navbar navstyler">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">Class Resource Hub</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-nav-main">
            <li routerLinkActive="active"><a routerLink="/resources">Resources</a></li>
            <li routerLinkActive="active"><a routerLink="/tags">Tags</a></li>
            <li routerLinkActive="active"><a routerLink="/search">Search</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
                <a class="dropdown-toggle" role="button">
                    <span *ngIf="user_authenticated">{{user_name}}</span>
                    <span *ngIf="!user_authenticated">User</span>

                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li *ngIf="!user_authenticated"><a href="http://127.0.0.1:3000/login" target="_blank">Log in</a>
                    </li>
                    <li *ngIf="user_authenticated"><a href="http://127.0.0.1:3000/logout" target="_blank">Log
                            out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>